<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small>
  <br/>
  <strong><%= activity.owner ? activity.owner.name : get_guest_name %></strong>
  <% if a.trackable %>
      <%= t('activity.story.create') %> <%= link_to a.trackable.title, story_path(a.trackable) %>.
  <% else %>
      <%= t('activity.story.destroy') %>
  <% end %>
</li>