<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @post.body %>
</p>

<%= link_to '编辑', edit_post_path(@post) %> |
<%= link_to '回去', posts_path %>
